In [2]:
a = 1
print(id(a))
b=1
print(id(b))

140705275062712
140705275062712

In [4]:
#how to print on same line
print("*",end="")
print("*",end="")
print("*",end="")

***

In [6]:
print(100*"*")

****************************************************************************************************

In [8]:
print(1000*"* ")

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [14]:
name = "Shreya"
age = 21
print("My name is",name,"My age is:",age)

My name is Shreya My age is: 21

In [137]:
data = "My name is shreya"
print(data[::-1])

ayerhs si eman yM

In [16]:
#Learning about String formatting Method 
name = "Sakshi"
city = "Chalisgaon"
print("My name is {} and I live in {}".format(name,city))

My name is Sakshi and I live in Chalisgaon

In [20]:
#Another method to print the variable_val in stmt
name = "Shreya"
age = 21
city = "Jaysingpur"
marks = 94.40
print("My name is %s I live in %s and my age is %d, My semester marks are %.3f" %(name,city,age,marks))

My name is Shreya I live in Jaysingpur and my age is 21, My semester marks are 94.400

In [22]:
#How to print name word from the string using positive and negativeslicing
data = "My name is something"
print(data[3:7:1])
print(data[-17:-13:1])

name
name

In [24]:
data = "My name is shreya"
print(data[0:17:-1])
print(data[17:0:-1])

ayerhs si eman y

In [32]:
#Converts string in lower case
name = "SOMETHING"
print(name.lower())

something

In [30]:
#Converts string in upper case
name = "SOMETHING"
print(name.upper())

SOMETHING

In [28]:
#Converts first letter of every word into caplital
name = "my name is sakshi and i live in csn"
print(name.title())

My Name Is Sakshi And I Live In Csn

In [26]:
#Converts only first letter of string in capital
name = "my name is sakshi and i live in scn"
print(name.capitalize())

My name is sakshi and i live in scn

In [16]:
#List
#first way to define  list
a=list((1,2,3,"abc","xyz"))
print(a)
print(type(a))

[1, 2, 3, 'abc', 'xyz']
<class 'list'>

In [24]:
#second way
b=[1,2,3,4,"abc","xyz"]
#replace the values
b[5]="Shreya"
b[4]="Swyam"

#3 is index not value
# three methods to delete the values
b.remove(3)
del b[1]
b.pop(2)

#method to add value at specific position
b.insert(2,'wit')

#method to add at last
b.append("hii")
print(b)

[1, 4, 'wit', 'Shreya', 'hii']

In [32]:
a=[[["a",[1,2,[[0,2,'bb',[12,11,33]]]]]]]
a[0][0][1][2][0][2]="Big Boss"
print(a)

[[['a', [1, 2, [[0, 2, 'Big Boss', [12, 11, 33]]]]]]]

In [34]:
a=[1,2,[0,[[['xyz',[0,99,4,['a','b',[1,2,3,['yes','no',[[5]]]]]]]]]]]
a[2][1][0][0][1][3][2][3][1]='Walcahnd'
print(a)

[1, 2, [0, [[['xyz', [0, 99, 4, ['a', 'b', [1, 2, 3, ['yes', 'walcahnd', [[5]]]]]]]]]]]

In [37]:
#tuple
a=tuple((1,2,3,4,5,'abc','xyz'))
print(a)
print(type(a))

(1, 2, 3, 4, 5, 'abc', 'xyz')
<class 'tuple'>

In [135]:
a=(1,2)
b=(3,4)
print(a+b)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [41]:
#add a comma whn u have to save single vlaue in tuple
a=(1,)
print(type(a))

<class 'tuple'>

In [45]:
a=("shreya","mumbai",56)
(name,city,age)= a
print(name)
print(city)
#jupyter notebook consist default print
age

shreya
mumbai

56

In [59]:
a=[1,2,[0,([['xyz',(0,99,4,['a','b',[1,2,3,['yes',('no',),[[5]]]]])]])]]
b=list(a[2][1][0][1][3][2][3][1])
b[0]="WIT"
c=tuple(b)
print(c)
#by converting the tupple to list

('WIT',)

In [61]:
a=[1,2,[0,([['xyz',(0,99,4,['a','b',[1,2,3,['yes',('no',),[[5]]]]])]])]]
b=a[2][1][0][1][3][2][3][1]=("WIT,")
print(a)

[1, 2, [0, [['xyz', (0, 99, 4, ['a', 'b', [1, 2, 3, ['yes', 'WIT,', [[5]]]]])]]]]

In [78]:
#dictionary
a={'msg':'hii', 'name':'Shreya', 'age':60, 'city':'Kolhapur'}
print(a)
print(type(a))
print(len(a))
print(a['name'])
print(a.get('name'))
a.update({'year':1962})
print(a)
del a['msg']
print(a)
#a.clear()
#del a
#print(a)

{'msg': 'hii', 'name': 'Shreya', 'age': 60, 'city': 'Kolhapur'}
<class 'dict'>
4
Shreya
Shreya
{'msg': 'hii', 'name': 'Shreya', 'age': 60, 'city': 'Kolhapur', 'year': 1962}
{'name': 'Shreya', 'age': 60, 'city': 'Kolhapur', 'year': 1962}

In [82]:
a={'name':{'age':33,'data':[1,2,3,5,7,{'data':{'new':['yes']}}]}}
a['name']['data'][5]['data']['new'][0]="NO"
print(a)

{'name': {'age': 33, 'data': [1, 2, 3, 5, 7, {'data': {'new': ['NO']}}]}}

In [7]:
a={'name':'Shreya','age':60,'year':1998}
print(a)
print(a.keys())
print(a.values())

{'name': 'Shreya', 'age': 60, 'yera': 1998}
dict_keys(['name', 'age', 'yera'])
dict_values(['Shreya', 60, 1998])

In [11]:
#set
a={"abc",1,"xyz",'a','b'}
print(a)

{1, 'b', 'abc', 'a', 'xyz'}

In [13]:
#while loop
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [15]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
#even numbers
#1.for loop
a=[1,2,3,4,5,6,7,8,9,10]
for i in range(len(a)):
    if i%2 != 0:
        print(a[i])

2
4
6
8
10

In [12]:
# Even index elements using a while loop
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
i = 0 
while i < len(a):
    if i % 2 != 0:
        print(a[i])
    i += 1

2
4
6
8
10

In [4]:
#sir's method(even number) 
a=[1,2,3,4,5,6,7,8,9,10]
b=[]
for i in range(len(a)):
    if a[i]%2 == 0:
        b.append(a[i])
print(b)

[2, 4, 6, 8, 10]

In [6]:
#sort this without using function
a=[18,20,2,3,4,5,66,1,22]
for i in range(len(a)):
    for j in range(len(a)):
        if a[i]>= a[j]:
            temp =a[i]
            a[i]=a[j]
            a[j] =temp
print(a)
print(a[-2])

[66, 22, 20, 18, 5, 4, 3, 2, 1]
2

In [8]:
a=[88,34,1,2,2,1,85,77,69]
b=[]
#sort the list
for i in range(len(a)):
    for j in range(len(a)):
        if a[i]<= a[j]:
            temp =a[i]
            a[i]=a[j]
            a[j] =temp
#remove the duplicates
for i in a:
    if i not in b:
        b.append(i)
        print(b)

[1]
[1, 2]
[1, 2, 34]
[1, 2, 34, 69]
[1, 2, 34, 69, 77]
[1, 2, 34, 69, 77, 85]
[1, 2, 34, 69, 77, 85, 88]

In [34]:
a=["A","B","C","D"]
#2 loops
for i in range(len(a)):
    for j in range(i+1):
            print(a[i], end=" ")
    print()

#1 loop
c=1
for i in range(len(a)):
    print(a[i]*c)
    c+=1

A
B B
C C C
D D D D
A
BB
CCC
DDDD

In [36]:
#user Input
u1 = input("Enter the name:")
print(u1)

Enter the name: Shreya

Shreya

In [38]:
#result presentor(static)
seat=input("Enter the seat number")
mname= input("Enter the mother name: ")
if seat=="560" and mname== "vandana":
    math=45
    che=40
    phy=49
    avg=(math+che+phy)/3
    print(f"Math:{math} /n Chemistry:{che} /n Physics:{phy} /n Avg:{avg}")

Enter the seat number 560
Enter the mother name:  vandana

Math:45 /n Chemistry:40 /n Physics:49 /n Avg:44.666666666666664

In [44]:
#Students result system
print("++++++++++++++++++ Check Result +++++++++++++++++")
useat =int(input("Enter the seat number: "))
uname =input("Enter mother's name: ")
seat=[510,520,530,540]
mname=['abc','xyz','pqr','str']
data={510:[40,50,23],520:[20,42,43],530:[40,24,23],540:[34,36,35]}

for i in range(len(seat)):
    if seat[i]==useat and mname[i]==uname:
        for j in data:
            if j==seat[i]:
                print(data[j])
                print(f"Maths:{data[j][0]}")
                print(f"Che:{data[j][1]}")
                print(f"Phy:{data[j][2]}")
                avg= (data[j][0]+ data[j][1]+ data[j][2])/3
                print("percentage",avg,"%")

Enter the seat number:  540
Enter mother's name:  str

[34, 36, 35]
Maths:34
Che:36
Phy:35
percentage 35.0 %

In [46]:
#ATM System(partial)
pin=int(input("Enter your pin: "))
amount=int(input("Enter the amount: "))
pinn={1234,2345,3456}
for i in pinn:
    if i==pinn:
        if amount%100 == 0:
            if amount>=500:
                notes=amount // 500
                print(f"recieved {notes} notes of 500")
                amount=amount%500
            if  amount>=200:
                notes=amount//200
                print(f"Recieved {notes} notes of 200")
                amount=amount%200
            if amount>=100:
                notes=amount//100
                print(f"Recieved {notes} notes of 100")
        else:
            print("Amount should be multiple of 100")
        break
print("Thanks for Banking with us!!")

Enter your pin:  1234
Enter the amount:  900

Thanks for Banking with us!!

In [2]:
#ATM Machine(Cmplete)
print("+++++++++++++++ Welcome to ATM Machine +++++++++++++++++")
for i in range(3):
    pin = int(input("Enter your pin: "))
    l1=[1234,2345,3456,4567]
    if pin in l1:
        amount = int(input("Enter the amount of withdrawal: "))
        if amount%100 == 0:
            if amount>=500:
                notes=amount // 500
                print(f"recieved {notes} notes of 500")
                amount=amount%500
            if  amount>=200:
                notes=amount//200
                print(f"Recieved {notes} notes of 200")
                amount=amount%200
            if amount>=100:
                notes=amount//100
                print(f"Recieved {notes} notes of 100")
        else:
            print("Amount should be multiple of 100")
        break
    else:
        print("Invalid Pin, Please put correct pin")
else:
    print("Your account has been blocked for 24 hours chorr try contacting your bank!")
print("Thankyou for choosing us...Have a good day")

+++++++++++++++ Welcome to ATM Machine +++++++++++++++++

Enter your pin:  555

Invalid Pin, Please put correct pin

Enter your pin:  1234
Enter the amount of withdrawal:  500

recieved 1 notes of 500
Thankyou for choosing us...Have a good day