In [1]:
#Palendrome
#find Weather the number is palendrome or not using While loop and without using typecasting and inbuild functions
a= int(input("Enter a number: "))
org=a
rev=0

while a>0:
    digit = a % 10
    rev = rev * 10 +digit
    a = a//10

if org == rev:
    print(f"{org} is a Palindrome!")
else:
    print(f"{org} is not a Palindrome")

Enter a number:  1221

1221 is a Palindrome!

In [7]:
# armstrong number(Dynamic)
# length of input is taken as each digit's power and after calculating it output should be same as inpult
a=int(input("Enter the number: "))
org=a
res=0
n=len(str(a))

while a!=0:
    digit = a % 10
    res = res+(digit)**n
    a = a//10
if org == res:
    print(f"{org} is a Armstrong!")
else:
    print(f"{org} is  not a Armstrong Number!")

Enter the number:  1543

1543 is  not a Armstrong Number!

In [ ]:
#static armstrong number
a=153
n=0
while a>0:
    r=a%10
    n=n+(r)**3
    a=a//10
print(n)

In [25]:
#Prime Number
n=int(input("Enter the input:"))
i=2
while i<n:
    r=n%i
    if r==0:
        print(f"{n} is not a Prime Number")
        break
    i+=1
if n==i:
    print(f"{n} is a Prime Number")

Enter the input: 8

8 is not a Prime Number

In [1]:
#Prime Number 1 to 100
n=1
lt=[]
while n<100:
    i=2
    while i<n:
        r=n%i
        if r==0:
            break
        i+=1
    if n==i:
        lt.append(i)
    n+=1
print(lt)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [3]:
#Not Prime Number 1 to 100
n=1
npm=[]
pm=[]
while n<=100:
    i=2
    while i<n:
        r=n%i
        if r==0:
            npm.append(n)
            break
        i+=1
    if n==i:
        pm.append(i)
    n+=1
print("Prime Numbers:",pm)
print("Non Prime Numbers:",npm)

Prime Numbers: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
Non Prime Numbers: [4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100]

In [13]:
#list compression
a=[i for i in range(2,1000,2)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998]

In [30]:
import random
a=['a','b','c','d']
print(random.choice(a))

b

In [3]:
#word simulator
score=0
a=['cat','act','ram','arm','war','raw','net','ten']
b=['act','arm','war','ten']
for i in b:
    print(i)
    c=input("enter your word: ")
    
    if c in a:
        score+=1
    else:
        score-=1
    print("Your score: ",score)

act

enter your word:  cat

Your score:  1
arm

enter your word:  ram

Your score:  2
war

enter your word:  raw

Your score:  3
ten

enter your word:  net

Your score:  4

In [ ]:
import random
score=0
data=['cat','act','bat','tab','net','ten','art','rat']
while True:
    for i in range(3):
        letters= list(random.choice(data))
        genw="".join(letters)
        print(genw)
        user_word=input("If you want to play enter the word or entre quit: ")
        if user_word=="quit":
            print("Thanks for playing")
            break
        if user_word!=genw:
                l=True
                for letter in user_word:
                    if letter in letters:
                        letters.remove(letter)
                    else:
                        l=False
                        
                    if l and user_word in data:
                        score+=1
                        print("Correct word!")
                        print(f"You earn {score} points")
                    else:
                        print("Incorrect word!")
                    break
        else:
            print("you entered same word again again,I am not giving any score")
    else:
        score-=1
        print("You loose the score, ",score)

net

If you want to play enter the word or entre quit:  net

you entered same word again again,I am not giving any score
tab

If you want to play enter the word or entre quit:  tab

you entered same word again again,I am not giving any score
net

If you want to play enter the word or entre quit:  jh

Incorrect word!
You loose the score,  -1
cat

If you want to play enter the word or entre quit:  act

Correct word!
You earn 0 points
ten

If you want to play enter the word or entre quit:  ten

you entered same word again again,I am not giving any score
ten

In [27]:
rows =4
ch='a'
for i in range(rows):
    print(' ' *(rows -i -1)+ ch*(2*i+1))
    ch=chr(ord(ch)+1)

print(chr(97))

   a
  bbb
 ccccc
ddddddd
a

In [35]:
row =1
while row<=4:
    cols=1
    while cols<=4-row:
        print(" ", end=" ")
        cols+=1
    col=1
    while col<(2*row):
        print(chr(96+cols), end=" ")
        col+=1
    row+=1
    print()

      d
    c c c
  b b b b b
a a a a a a a

In [39]:
row =1
while row<=4:
    cols=1
    while cols<=4-row:
        print(" ", end=" ")
        cols+=1
    col=1
    while col<(2*row):
        print(chr(96+row), end=" ")
        col+=1
    row+=1
    print()

      a
    b b b
  c c c c c
d d d d d d d

In [35]:
"""
Give me a python program to print the following pattern using while loop
      a
    a b c
  a b c d e
a b c d e f g 
"""
row=1
while row<=4:
    cols=1
    while cols<=4-row:
        print(" ",end=" ")
        cols+=1
    col=1
    while col<(2*row):
        print(chr(96+col),end=" ")
        col +=1
    row+=1
    print()

      a
    a b c
  a b c d e
a b c d e f g

In [61]:
#food order service(partial)
food={"veg":["panner=240rs","daal=90rs","kaju masala=270"],
      "nonveg":["chicken=560rs","beaf=480rs","kabab=600rs"]}
print("Welcome to food services!!")
ord=input("what would you like to eat(veg/nonveg): ")
if ord=="veg":
    print("Great choice!")
    vegf=input("Choose a dish: ")
    if vegf in food:
        print("ok")
elif ord=="nonveg":
     print("Gu khaa!!")

Welcome to food services!!

what would you like to eat(veg/nonveg):  veg

Great choice!

Choose a dish:  panner

In [73]:
#food delivery service(complete)
name=input("May I know your name: ")
food={"veg":["panner=240rs","daal=90rs","kaju masala=270"],
      "nonveg":["chicken=560rs","beaf=480rs","kabab=600rs"]}
print(f"Hello {name} Welcome to food services!!")
ord=input("what would you like to eat(veg/nonveg): ")
c=0
for i in food[ord]:
    print(f"{i} to order press {c}")
    c+=1
order=int(input("Enter the value to order food: "))
print("your order is placed successfully!!")
print(food[ord][order])

May I know your name:  shreya

Hello shreya Welcome to food services!!

what would you like to eat(veg/nonveg):  nonveg

chicken=560rs to order press 0
beaf=480rs to order press 1
kabab=600rs to order press 2

Enter the value to order food:  0

your order is placed successfully!!
chicken=560rs

In [75]:
#1.simple function
def Data():
    print("jsyufgvuegdyfvuyeg")
Data()

jsyufgvuegdyfvuyeg

In [79]:
#2/3.function with position argument/ function with parameter 
def Data(name, age, city):
    print(f"My name is {name}, my age is {age}, I live in {city}.")
Data("Shreya",20,"Solapur")

My name is Shreya, my age is 20, I live in Solapur

In [1]:
#4.function with keyword argument
def Data(name, age, city):
    print(f"My name is {name}, my age is {age}, I live in {city}.")
Data(age=20, name="Shreya",city="Solapur")

My name is Shreya, my age is 20, I live in Solapur.

In [5]:
#5.Default parameter function
def Data(name, age, city="Solapur"):
    print(f"My name is {name}, my age is {age}, I live in {city}.")
Data("Shreya",20)

def data(name, age, city="Solapur"):
    print(f"My name is {name}, my age is {age}, I live in {city}.")
Data("Shreya",20,"Kolhapur")

My name is Shreya, my age is 20, I live in Solapur.
My name is Shreya, my age is 20, I live in Kolhapur.

In [3]:
#6.arbotratory function/variable length function
#a Non-keyword variable length function
def Add(*a):
    print(a)
    print(sum(a))
    print(type(a))
Add(1,2,3,4,5,6,7)

(1, 2, 3, 4, 5, 6, 7)
28
<class 'tuple'>

In [11]:
#6.b Keyword argument variable length function
def Add(**a):
    print(a)
    print(type(a))
Add(a=1,b=2,c=3)

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [7]:
#Create add function by own
def Add(num1, num2):
    res=num1+num2
    print(res)
Add(2,5)

7

In [11]:
#Create len function by own
def length(*a):
    res=len(a)
    print(f"Length of tupple is: {res}")

length(1,2,3,4,5)

Length of tupple is: 5

In [15]:
#Create len function bynown
def length(a):
    c=1
    for i in a :
        c=c+1
    return c
b=[1,2,3,4,5,6,7,8,9]
print(length(b))

10

In [39]:
#Create uppercase function by own
#there is difference of 32 between ackee values of small and captail letters

def upcase(inpt):
    opt=""
    for i in inpt:
        if i!=" ":
            if ord(i)>90:
                d=(ord(i)-32)
                opt=opt+(chr(d))
            else:
                opt=opt+i
        else:
            opt=opt+" "
    return opt

inpt=("My name is Shreya")
print("Output:",upcase(inpt))

Output: MY NAME IS SHREYA

In [43]:
#Create lowercase function by own
#there is difference of 32 between ackee values of small and captail letters

def lower(inpt):
    opt=""
    for i in inpt:
        if i!=" ":
            if ord(i)<90 and ord(i)>=65:
                d=(ord(i)+32)
                opt=opt+(chr(d))
            else:
                opt=opt+i
        else:
            opt=opt+" "
    return opt

inpt=("My Name Is SHREYA")
print("Output:",lower(inpt))

Output: my name is shreya

In [3]:
# print 1 to 10 without using loop
def numbers(n):
    print (n)
    n+=1
    if n<=10:
        return numbers(n)
numbers(1)

1
2
3
4
5
6
7
8
9
10

In [58]:
#1 to 10 tables
# print 1 to 10 without using loop
def outer(a):
    def inner(b):
        print(a*b, end=" ")
        b+=1
        if b<=10:
            return inner(b)
    inner(1)
    print()
    a+=1
    if a<=10:
        return outer(a)
outer(1)

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [13]:
# print 1 to 10 without using loop
def numbers(n):
    print (n)
    n+=1
    if n<=100:
        return numbers(n**2)
numbers(1)

1
4
25
676

In [19]:
#find square of list 
def sqr(a):
    for i in range(len(a)):
        a[i]=a[i]*a[i]
    return(a)
a=[1,2,3,4,5,6]
print(sqr(a))

[1, 4, 9, 16, 25, 36]

In [5]:
#lamda function/anoynomous function(smaller function which is used  in other funtion)
#a= lambda parameter : expressions/ no need to return anything it is default
a=lambda a,b : a+b
print(a(1,2))

3

In [23]:
#generator function
def abc():
    yield 12
    yield 13
    yield "aa"
a=abc()
print(next(a))
print(next(a))
print(next(a))

12
13
aa

In [11]:
#recursion function(function calls itself eachtime with modified arguments untill it reaches the base case
def factorial(n):
    if n == 0:  # Base case
        return 1
    return n * factorial(n - 1)  # Recursive call

print(factorial(5))  # Output: 120

120

In [1]:
score=0
a=['act','bat','rat','war']
b=['act','bat','rat','war','cat','tab','art','raw']
for i in a:
    print(i)
    c=input("Entre your word to play or entre quit: ")
    if c=='quit':
        print("Thanks for playing!")
        break
    elif c in b:
        score+=1
    else:
        score-=1
    print(score)

act

Entre your word to play or entre quit:  cat

1
bat

Entre your word to play or entre quit:  quit

Thanks for playing!

In [8]:
score=0
a=['act','bat','net']
b=['act','cat','tab','bat','ten','net']

for i in a:
    print(i)
    n=input("Enter your word or quit: ")
    
    if n=='quit':
        print("Thanks for playing!")
        break
    elif n in b:
        score=score+1
    else:
        score=score-1
    print (score)

act

Enter your word or quit:  quit

Thanks for playing!